        .navigation-bar {
            margin-top: 20px;
            font-weight: lighter;
            margin-right: 10px;
            margin-left: 20px;
        }
        
        .form-inline ul li {
            display: inline;
            padding-right: 20px;
        }
        
        .form-inline a {
            color: rgb(112, 106, 106);
            font-size: 10px;
        }
        
        .form-inline a:hover {
            transition: ease-out;
            text-decoration: none;
            animation: ease-in;
            transform: scaleX(2);
        }
        
        .lander {
            background-image: url("../images/images1.png");
            height: 500px;
            background-size: cover;
        }
        
        .lander-content {
            text-align: center;
            justify-content: center;
            position: relative;
            font-size: 30px;
            font-weight: bolder;
            color: rgb(44, 13, 13);
        }
        
        .lander-content p {
            position: relative;
            top: 20%;
        }