.navigation-bar {
    margin-top: 20px;
    font-weight: lighter;
    margin-right: 10px;
    margin-left: 20px;
}

.form-inline ul li {
    display: inline;
    padding-right: 20px;
}

.form-inline ul li a {
    color: rgb(112, 106, 106);
    font-size: 10px;
}

.main {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}